# Sorting Rows
<div class="css-hu6jey"><div class="">
<p>Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to <code>.sort_values()</code>.</p>
<p>In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.</p>
<table>
<thead>
<tr>
<th>Sort on …</th>
<th>Syntax</th>
</tr>
</thead>
<tbody>
<tr>
<td>one column</td>
<td><code>df.sort_values("breed")</code></td>
</tr>
<tr>
<td>multiple columns</td>
<td><code>df.sort_values(["breed", "weight_kg"])</code></td>
</tr>
</tbody>
</table>
<p>By combining <code>.sort_values()</code> with <code>.head()</code>, you can answer questions in the form, "What are the top cases where…?".</p>
<p><code>homelessness</code> is available and <code>pandas</code> is loaded as <code>pd</code>.</p></div></div>

<div class="listview__section" style="min-height: calc(100% - 33px);"><div><div role="button" class="listview__header"><div class="css-r7m65a"><h2 class="css-bzfyd1"><svg width="14" height="14" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="M9 16A7 7 0 1 0 9 2a7 7 0 0 0 0 14Zm0 2A9 9 0 1 1 9 0a9 9 0 0 1 0 18Zm2.326-11.96a1 1 0 0 1 1.555 1.258L8.773 12.37a1 1 0 0 1-1.534.024l-2.124-2.46a1 1 0 0 1 1.514-1.307l1.342 1.556 3.355-4.144Z"></path></svg>Instructions for Lab/exercise</h2><span class="css-icrdc5"><span class="css-12ymhch"></span></span></div></div></div><div class="listview__content"><div><div class="instructions--bullet bullet-steps"><div class="bullet-instructions-list"><ul class="css-uygg58"><li class="css-9gjwnk"><a href="javascript:void(0)" class="css-424fif"><div class="css-11wv0ed"><div class="css-13i0wx6"><svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="M13.746 4.337a1.015 1.015 0 0 1 1.409-.099c.417.354.462.97.101 1.378l-7.13 8.047a1.015 1.015 0 0 1-1.483.03L2.771 9.67a.961.961 0 0 1 .044-1.38 1.015 1.015 0 0 1 1.412.041l3.113 3.235 6.406-7.229Z"></path></svg></div>Task 1</div></a><div class="css-kt5swu"><div class="css-hu6jey"><div class="exercise--instructions__content"><ul>
<li>Sort <code>homelessness</code> by the number of homeless individuals, from smallest to largest, and save this as <code>homelessness_ind</code>.</li>
<li>Print the head of the sorted DataFrame.</li>
</ul></div></div></div></li><li class="css-hbe4vv"><a href="javascript:void(0)" class="css-424fif"><div class="css-4run5a"><div class="css-13i0wx6">Task 2</div></div></a><div class="css-kt5swu"><div class="css-hu6jey"><div class="exercise--instructions__content"><ul>
<li>Sort <code>homelessness</code> by the number of homeless <code>family_members</code> in descending order, and save this as <code>homelessness_fam</code>.</li>
<li>Print the head of the sorted DataFrame.</li>
</ul></div></div><div class="css-kbabwt"><section class="dc-sct-feedback" tabindex="-1"><div></div><nav class="dc-sct-feedback__nav"><div class="css-fs3inu"></div></nav></section></div></div></li><li class="css-1a8r0fr"><a href="javascript:void(0)" class="css-1hbzn8s"><div class="css-11wv0ed"><div class="css-13i0wx6">Task 3</div></div></a><div class="css-kt5swu"><div class="css-hu6jey"><div class="exercise--instructions__content"><ul>
<li>Sort <code>homelessness</code> first by region (ascending), and then by number of family members (descending). Save this as <code>homelessness_reg_fam</code>.</li>
<li>Print the head of the sorted DataFrame.</li>
</ul></div></div></div></li></ul></div></div></div></div></div>

<div class="listview__content"><div><div class="instructions--bullet bullet-steps"><div class="bullet-instructions-list"><ul class="css-uygg58"><li class="css-9gjwnk"><a href="javascript:void(0)" class="css-424fif"><div class="css-11wv0ed"><div class="css-13i0wx6"><svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="M13.746 4.337a1.015 1.015 0 0 1 1.409-.099c.417.354.462.97.101 1.378l-7.13 8.047a1.015 1.015 0 0 1-1.483.03L2.771 9.67a.961.961 0 0 1 .044-1.38 1.015 1.015 0 0 1 1.412.041l3.113 3.235 6.406-7.229Z"></path></svg></div>Task 1</div></a><div class="css-kt5swu"><div class="css-hu6jey"><div class="exercise--instructions__content"><ul>
<li>Sort <code>homelessness</code> by the number of homeless individuals, from smallest to largest, and save this as <code>homelessness_ind</code>.</li>
<li>Print the head of the sorted DataFrame.</li>
</ul></div></div></div></li>

In [1]:
import pandas as pd

# Replace 'path/to/homelessness.csv' with the path to your CSV file
homelessness = pd.read_csv('/content/drive/MyDrive/WK10-pandas/Resources/homelessness.csv', index_col = 0)

# Print the first 5 rows of the DataFrame
print(homelessness.head())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

#### Sorting Rows

In [4]:
# Sort homelessness by individuals
homelessness_ind = homelessness.sort_values("individuals", ascending=True)

# Print the top few rows
print(homelessness_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

**Method 2**

In [3]:
# Sort homelessness by individuals, from smallest to largest
homelessness_ind = homelessness.sort_values("individuals")

# Print the top few rows
homelessness_ind.iloc[[0, 1, 2, 3, 4], :]

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

<div class="css-13i0wx6">Task 2</div></div></a><div class="css-kt5swu"><div class="css-hu6jey"><div class="exercise--instructions__content"><ul>
<li>Sort <code>homelessness</code> by the number of homeless <code>family_members</code> in descending order, and save this as <code>homelessness_fam</code>.</li>
<li>Print the head of the sorted DataFrame.</li>
</ul></div></div><div class="css-kbabwt"><section class="dc-sct-feedback" tabindex="-1"><div></div><nav class="dc-sct-feedback__nav"><div class="css-fs3inu"></div></nav></section></div></div></li>

In [ ]:
 # Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values("family_members", ascending = False)

# Print the top few rows
homelessness_fam.head()

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

**Task 3**
</div></a><div class="css-kt5swu"><div class="css-hu6jey"><div class="exercise--instructions__content"><ul>
<li>Sort <code>homelessness</code> first by region (ascending), and then by number of family members (descending). Save this as <code>homelessness_reg_fam</code>.</li>
<li>Print the head of the sorted DataFrame.</li>
</ul></div></div>

In [ ]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(["region", "family_members"], ascending = [True, False])

# Print the top few rows
homelessness_reg_fam.head()

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

In [ ]:
# Select the individuals column
individuals = homelessness["individuals"]

# Print the head of the result
print(individuals[:6])

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
5      7607.0
Name: individuals, dtype: float64

In [ ]:
# Select the state and family_members columns
state_fam = homelessness[["state", "family_members"]]

# Print the head of the result
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

In [ ]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[["individuals", "state"]]

# Print the head of the result
print(ind_state.head())

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

#### Subsetting Rows

In [ ]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness["individuals"] > 10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [ ]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness["region"] == "Mountain"]

# See the result
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

In [ ]:
# Filter for rows where family_members is less than 1000
# and region is Pacific
fam_lt_1k_pac = homelessness[ (homelessness["family_members"] < 1000) & (homelessness["region"] == "Pacific") ]

# See the result
print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

In [ ]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[ (homelessness["region"] == "South Atlantic") | (homelessness["region"] == "Mid-Atlantic") ]

# See the result
south_mid_atlantic.head()

,region,state,individuals,family_members,state_pop
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
20,South Atlantic,Maryland,4914.0,2230.0,6035802

In [ ]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness["state"].isin(canu)]

# See the result
mojave_homelessness

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

#### Adding New Columns

In [ ]:
# Add total col as sum of individuals and family_members
homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]

# Add p_individuals col as proportion of total that are individuals

homelessness["p_individuals"] = np.round(homelessness["individuals"] / homelessness["total"], 2)

# See the result
homelessness.head()

,region,state,individuals,family_members,state_pop,total,p_individuals
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.75
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.71
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.74
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.84
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.84

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"]

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[["state", "indiv_per_10k"]]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
pd.set_option('display.width', 180)

In [ ]:
from google.colab import output
from IPython.display import Javascript

def resize_colab_cell():
    display(Javascript('google.colab.output.setIframeHeight(0, true, {maxHeight: 5000})'))

get_ipython().events.register('pre_run_cell', resize_colab_cell)